.dismissBtn{
    width: 35px;
    height: 35px;
    background: red;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 1px 1px 8px 5px;
}
.dismissBtn:hover{
    background: firebrick;
    color: white;
    transition: all 0.7s;
}
